{% extends '::base.html.twig' %}

{% block body %}
    <form action="{{ path('zelazowy_memcached_new') }}" method="post">
        {{ form_widget(form) }}
        <input type="submit" value="Dodaj" />
    </form>
{% endblock body %}